.features{
  .col-4{
    padding-left: 0;
  }
  padding: 120px 0;
  &-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  &-icon{
    position: relative;
    padding: 40px;
    font-size: 24px;
    font-weight: 700;
    color: $features-icon-color;
    border: 2px solid $features-icon-border-color;
    border-radius: 100%;
    &:before{
      position: absolute;
      top: 28px;
      left: 29px;
    }
  }
  &-text{
    padding-left: 20px;
    &__title{
      font-family: Dosis;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 15px;
      color: $text-color-dark;
    }
    &__descr{
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      color: $text-color-darklight;
    }
  }
}