.footer{
  padding: 45px 0px;
  background-color: $footer-bg-color;
  text-align: center;
  &-links{
    font-size: 18px;
    margin-bottom: 16px;
  }
  a{
    padding: 0px 12px;
    color: $text-color-light;
    &:hover{
      color:$features-icon-color;
    }
  }
  &-info{
    color: $text-color-light
  }
}