.screenshots{
  padding: 110px 0px 120px 0px;
  background-color: $screenshots-background-color;
  &-title{
    @extend %text-title-template;
    text-align: center;
  }
  &-descr{
    @extend %text-subtitle-template;
    text-align: center;
    margin-top: 25px;
  }
  &-slider{
    position: relative;
    height: 470px;
    margin-top: 60px;
    img{
      width: 35%;
      box-shadow: 0px 20px 30px -17px rgba(0,0,0,0.3);
    }
  }
  &-arrows{
    @extend %arrows-template;
  }
}

/*Unique arrows*/
#next{
  right: -5%;
}
#prev{
  left: -5%;
}
