.video{
  &-wrapper {
    position: relative;
    overflow: hidden;
    height: 400px;
  }
  &-button{
    z-index: 2;
    font-size: 35px;
    background: $text-color-light;
    padding: 20px 20px 20px 25px;
    border-radius: 100%;
    position: absolute;
    color: $text-color-darklight;
    left: 47.5%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
    &:hover{
      background: $main-color;
      color: $text-color-light;
      transition: 0.4;
    }
  }
  video{
    position: absolute;
    width: 100%;
    top:-50%;
  }
}
 
.paused{
  &:after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7)
  }
  &-button{
    display: none;
  }
}