/*Text color*/
$text-color-light: #fff;
$text-color-lightdark: #b9baba;
$text-color-dark: #222222;
$text-color-darklight: #777777;
$features-icon-color: #f31f79;

/*Main colors*/
$main-color: linear-gradient(90deg, #fd712c, #f32177);
$focus-button-color: #e25c30;
$features-icon-border-color: #eeeeee;
$screenshots-background-color: #f7fafc;
$footer-bg-color: #222222;

/*Templates colors*/
$focus-item-color: #ffffff;
$pentagon-color:#fff;

/*Active colors*/
$card-active-bg: #fff;
$card-active-text: #fff;

/*Customers colors*/
$customer-bg-1: #f7fafc;
$customer-bg-2: #fff;